@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-screen{
  max-width: 1800px;
}
.text-white-border {
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
}
.logo-font {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: oblique;
}
.color-pri{
  color: #083214;
}

.glassMor{
  border-radius: 12px;
  background: #ffffff1a;
  border: 1px solid #fffff2f0;
  backdrop-filter: blur(16px) saturate(120%);
}
